/*.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in-out;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-in-out;
}




/* Center the card content on smaller screens */
@media (max-width: 767px) {
    .featured-pokemon .card-body {
      text-align: center;
    }
  }
  
  /* Adjust the image size on smaller screens */
  @media (max-width: 576px) {
    .featured-pokemon .card-img {
      max-width: 150px;
    }
  }
  