/* src/components/BackToTopButton.css */

.back-to-top-button {
    position: fixed;
    bottom: 40px;
    right: 40px;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
    padding: 0.75rem;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease, transform 0.2s ease;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .back-to-top-button:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .back-to-top-button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.5);
  }
  
  .back-to-top-button svg {
    width: 20px;
    height: 20px;
  }
  