/* src/App.css */

.main-content {
  min-height: 100vh;
}

.app-light {
  background: linear-gradient(135deg, #f0f8ff 0%, #c8e2f0 100%) !important;
  color: #000000 !important;

}

.app-dark {
  background: linear-gradient(135deg, #1b1b1b 0%, #2a2a2a 100%) !important;
  color: #ffffff !important;

}


@keyframes sparkle-move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 60px 60px;
  }
}

/* Adjust table font size */
.table td,
.table th {
  font-size: 0.9rem;
}

/* Add margin to lists */
ul {
  margin-left: 1rem;
}
