/* In your global CSS */
@import 'bootstrap-icons/font/bootstrap-icons.css';



:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #0d6efd;
}

body.light {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #0d6efd;
  --navbar-shadow-color: rgba(0, 0, 0, 0.1);
}

body.dark {
  --background-color: #212529;
  --text-color: #ffffff;
  --primary-color: #0d6efd;
  --navbar-shadow-color: rgba(255, 255, 255, 0.1);
}

body {
  background: var(--background-color) !important;
  color: var(--text-color) !important;
  transition: background-color 0.3s, color 0.3s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  height: 100%;
  margin: 0;
}



/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 8px;
  transition: opacity 0.5s ease;
}

::-webkit-scrollbar-thumb {
  background: rgba(100, 100, 100, 0.6);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(100, 100, 100, 0.8);
}



.navbar {
  transition: box-shadow 0.3s;
}

/* Apply box shadow when scrolled */
.navbar-scrolled {
  box-shadow: 0 4px 6px -1px var(--navbar-shadow-color);
}